/*Для всіх обнуляємо маргіни і падінги , коли вилазить за ел. щоб приховало*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*Центруємо і ширину даємо , та стилі для тексту*/
body {
	width: 1170px;
	margin:0 auto;
	font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
	font-weight: normal;
}
/*В всіх прикладах що в h2 то має 2 кольори та маргін знизу одинаковий для всіх секцій*/
h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #191919;
}
h2 span {
    color: #00B7E0;
}
/*Для секцій паддінги*/
section {
    padding: 30px 0 50px;
}
a {
	text-decoration: none;
}
ul, li {
    list-style-type: none;
}
button {
    border: none;
    background-color: transparent;
    outline: none;
}
/*Робим контейнер щоб центрувати контент в тиж секціях де потрібно*/
.container {
	width:992px;
	height: auto;
	padding: 0 20px;
    margin: 0 auto;
}
/*Кінець загальних стилів*/

/*-------------------Секція #9---------------------------*/
.how-to-consume {
    background-color: #777;
}
.steps-list {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.steps-list .list-item{
    width: 150px;
    height: 150px;
    background-color: #191919;
    border-radius: 50%;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.list-item:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item:nth-of-type(2) p {
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}
.list-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*-------------------Секція #10---------------------------*/
.epilogue-footer {
    background-color: #191919;
}
.epilogue-footer p {
    color:#fff;
}
.epilogue-footer  article {
    display: flex;
}
.epilogue-footer  section {
    padding-top:0;
    padding-bottom:0;
    flex: 50%;
}
.epilogue-content h2:not(span) {
    color:#fff;
    text-align: inherit;
}
.epilogue-content p {
    font-weight: 300;
}
.epilogue-action {
    text-align: center;
    padding:0 100px;
}
.epilogue-action p {
    font-size: 25px;
    margin-bottom:50px;
}
.epilogue-action button {
    width: 100%;
    height: 40px;
    border:2px solid #fff;
    border-radius:5px;
    font-weight: bold;
    color:#fff;
    transition: all .3s;
}
.epilogue-action button:hover {
    border-color: #00B7E0;
}
.epilogue-action button:active {
    color: #00B7E0;
    border-color:#fff;
}
/*-------------------Секція #11---------------------------*/
footer {
    padding: 15px 0;
    background-color: #777;
    color:#fff;
    text-align: center;
}
