/*Для всіх обнуляємо маргіни і падінги , коли вилазить за ел. щоб приховало*/
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
/*Центруємо і ширину даємо , та стилі для тексту*/
body {
	width: 1170px;
	margin:0 auto;
	font-family: "Roboto", Helvetica, sans-serif;
    font-size: 16px;
	font-weight: normal;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);

}
/*В всіх прикладах що в h2 то має 2 кольори та маргін знизу одинаковий для всіх секцій*/
h2 {
    margin-bottom: 40px;
    text-align: center;
    color: #191919;
}
h2 span {
    color: #00B7E0;
}
/*Для секцій паддінги*/
section {
    padding: 30px 0 50px;
}
a {
	text-decoration: none;
}
ul, li {
    list-style-type: none;
}
button {
    border: none;
    background-color: transparent;
    outline: none;
}
/*Робим контейнер щоб центрувати контент в тиж секціях де потрібно*/
.container {
	width:992px;
	height: auto;
	padding: 0 20px;
    margin: 0 auto;
}
/*Кінець загальних стилів*/
/*-------------------Секція #5---------------------------*/

.featured-guests {
 background: #fff;
}
.guests-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.guests-item {
 /*   flex:50%;*/
 width: 48%;
 display: flex;
}
.guests-item:nth-child(-n+2) {
 margin-bottom: 50px;
}

.guests-item img {
    width: 150px;
    height: 142px;
    background: #B8ABAB;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.55);
}
.guests-item img:hover {
    box-shadow: 0px 0px 14px 0px rgba(179,54,220,0.55);
    transform: scale(1.1);
}
.item-content h3 {
    margin-bottom: 10px;
    color:#00B7E0;
}
.item-content p {
    color: #777;
}
.item-content {
    margin-left: 15px;
    padding-top: 10px;
}

/*-------------------Секція #6---------------------------*/
.latest-episodes {
    background: #191919;
}
.latest-episodes h2 {
 color: #fff;
}
.eposidests-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px; 
}
.episodests-item img {
    width: 100%;
    height: 155px;
    background: #B8ABAB;
    margin-bottom: 20px;
    box-shadow: 0px 0px 14px 0px rgba(255,255,255,0.55);
}
.episodests-item img:hover {
    transform: scale(1.1);
}
.episodests-item {
    width: 23%;
}
.episodests-item-content h3 {
    margin-bottom:5px;
    color:#00B7E0; 
}
.latest-episodes a {
    color:#00B7E0;
}
.more-episodes {
    display: block;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 10px;
    padding: 10px 15px;
    border: 1px solid #00B7E0;
    border-radius: 3px;
    color: #00B7E0;
    transition: all .3s;
    cursor: pointer;
}
.more-episodes:hover {
    color: #5E0DAC;
    border-color: #5E0DAC;
    

}
.more-episodes:active {
    color: #8D41D6;
    border-color: #8D41D6;
    transform: scale(1.1);
}
.episodests-item-content p{
    color: #fff;
    line-height: 1.5;
    margin-bottom: 5px;
}
/*-------------------Секція #7,8---------------------------*/
.together-7-8 {
 background: #fff;
}
.popular-episodes-list {
    display: flex;
    width: 70%;
    flex-direction: column;
    padding: 0;
}
.episodes-list-item {
 /*   flex:50%;*/
 margin-bottom: 20px;
 display: flex;
}
.episodes-list-item img {
    width: 120px;
    height: 112px;
    background: #B8ABAB;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.55);
}
.popular-episodes-list:last-child {
    margin-bottom: 0;
}
.popular-item-content h3 {
    margin-bottom: 10px;
    color:#00B7E0;
}
.popular-item-content p {
    color: #777;
}
.popular-item-content {
    margin-left: 20px;
}
.popular-episodes-list h2 {
    text-align: left;
    margin-bottom: 30px;
}
.together-wraper {
    display: flex;
    justify-content: space-between;
}
.media-widgets {
    height: 625px;
    /*flex-grow: 100%;*/
    width: 27%;
}
.find-us {
    width: 100%;
    height: 100%;
}
.find-us img{
    width: 100%;
   height: 100%;
   box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.media-widgets h3{
    margin-bottom: 15px;
}
.media-widgets h3 span {
    color: #00B7E0;
} 
/*-------------------Секція #10---------------------------*/
.subscribe-buttons {
    background-color: #00B7E0;
    padding-left: 90px;
    padding-right: 20px;
}
.subscribe-buttons article {
    display: flex;
    color:#fff;
}
.subscribe-buttons section {
    padding:0;
    flex:50%;
}
.subscribe-action h2 {
    margin-bottom: 15px;
    text-align: left;
    color:#fff;
}
.subscribe-action-nav li {
    width: 200px;
    height: 70px;
    display: inline-block;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.subscribe-action-nav li:nth-child(odd) {
    margin-right: 15px;
}
.subscribe-action-nav a {
    display: inline-block;
    width: 100%;
    height: 100%
}
.subscribe-action-nav a img {
    width: 100%;
    height: 100%;
}
.subscribe-content > p {
    margin-bottom: 15px;
    font-family: serif;
    font-size: 17px;
    letter-spacing: 1.5px;

}
.content-list {
    line-height: 1.7;
    margin-left: 20px;
}
.content-list li {
    list-style: disc;
}
.content-list li span,
.content-list li p {
    margin-left: -8px;
}
/*-------------------Секція #9---------------------------*/
.how-to-consume {
    background-color: #777;
}
.steps-list {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.steps-list .list-item{
    width: 150px;
    height: 150px;
    background-color: #191919;
    border-radius: 50%;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}
.list-item:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-item:nth-of-type(2) p {
    padding: 0 15px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}
.list-item img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*-------------------Секція #10---------------------------*/
.epilogue-footer {
    background-color: #191919;
}
.epilogue-footer p {
    color:#fff;
}
.epilogue-footer  article {
    display: flex;
}
.epilogue-footer  section {
    padding-top:0;
    padding-bottom:0;
    flex: 50%;
}
.epilogue-content h2:not(span) {
    color:#fff;
    text-align: inherit;
}
.epilogue-content p {
    font-weight: 300;
}
.epilogue-action {
    text-align: center;
    padding:0 100px;
}
.epilogue-action p {
    font-size: 25px;
    margin-bottom:50px;
}
.epilogue-action button {
    width: 100%;
    height: 40px;
    border:2px solid #fff;
    border-radius:5px;
    font-weight: bold;
    color:#fff;
    transition: all .3s;
    cursor: pointer;
}
.epilogue-action button:hover {
    border-color: #00B7E0;
}
.epilogue-action button:active {
    color: #00B7E0;
    border-color:#fff;
}
/*-------------------Секція #11---------------------------*/
footer {
    padding: 15px 0;
    background-color: #777;
    color:#fff;
    text-align: center;
}
